# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

# Privy Configuration
NEXT_PUBLIC_PRIVY_APP_ID=

# Basescan API (for token stats)
NEXT_PUBLIC_BASESCAN_API_KEY=ZNGJHU94S2ZX9RN7H68JPNM9YX563MP6UR

# Neynar API (for Farcaster integration)
NEXT_PUBLIC_NEYNAR_API_KEY=F3407A0D-D7B6-4639-A70F-729C0E491BFC
NEXT_PUBLIC_NEYNAR_CLIENT_ID=b5a99cd5-bf47-4816-8cf4-101c0a18bc13

# X (Twitter) API
TWITTER_BEARER_TOKEN=AAAAAAAAAAAAAAAAAAAAAJJM5gEAAAAAg%2FQ%2BCOPlkj4bCh8pyE44rxdu96A%3DMYqLsUD8UHhYxIFHLt82DOl4mP69gFx28lrvt1i882T5Hsn3Hw
TWITTER_ACCESS_TOKEN=1892379793217216513-QMc9OKvT3riKkUarBzxYFRZtTWrKHf
TWITTER_ACCESS_SECRET=9vNhccyVrUTb44X96K8oKiv7sSayvkLZ0det7Y03DvVyf

# Coinbase Developer Platform (CDP)
NEXT_PUBLIC_WC_PROJECT_ID=436148e9-0a42-44c3-806e-5f7c3383e127
CDP_API_KEY_NAME=436148e9-0a42-44c3-806e-5f7c3383e127
# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

# Privy Configuration
NEXT_PUBLIC_PRIVY_APP_ID=

# Basescan API (for token stats)
NEXT_PUBLIC_BASESCAN_API_KEY=ZNGJHU94S2ZX9RN7H68JPNM9YX563MP6UR

# Neynar API (for Farcaster integration)
NEXT_PUBLIC_NEYNAR_API_KEY=F3407A0D-D7B6-4639-A70F-729C0E491BFC
NEXT_PUBLIC_NEYNAR_CLIENT_ID=b5a99cd5-bf47-4816-8cf4-101c0a18bc13

# X (Twitter) API
TWITTER_BEARER_TOKEN=AAAAAAAAAAAAAAAAAAAAAJJM5gEAAAAAg%2FQ%2BCOPlkj4bCh8pyE44rxdu96A%3DMYqLsUD8UHhYxIFHLt82DOl4mP69gFx28lrvt1i882T5Hsn3Hw
TWITTER_ACCESS_TOKEN=1892379793217216513-QMc9OKvT3riKkUarBzxYFRZtTWrKHf
TWITTER_ACCESS_SECRET=9vNhccyVrUTb44X96K8oKiv7sSayvkLZ0det7Y03DvVyf

# Coinbase Developer Platform (CDP)
NEXT_PUBLIC_WC_PROJECT_ID=436148e9-0a42-44c3-806e-5f7c3383e127
CDP_API_KEY_NAME=436148e9-0a42-44c3-806e-5f7c3383e127
CDP_API_KEY_SECRET=2vZcopEGYkB6KL1Z38vzlBajakIRI8pFysYD7OH4HZFn9gLZ1tt/vW/HZSjLEivG+tJS7qca0r+7aA3RZN1S1w==

# TikTok API
TIKTOK_CLIENT_KEY=awf8185uw1l6332c
TIKTOK_CLIENT_SECRET=BGGY2VJuzGFIqhr3Iv54AcKFVzr4ulC7

# Google# Gemini AI
NEXT_PUBLIC_GEMINI_API_KEY=AIzaSyCHBaxy-P3bTs8dtfWmMXh3DwdDjgEOugA

# Basescan (For Verification)
BASESCAN_API_KEY=ZNGJHU94S2ZX9RN7H68JPNM9YX563MP6UR
